.mat-primary {
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
}

@media screen and (min-width: 640px) {
    .mat-primary {
        flex-direction: row;
        justify-content: space-between;
    }
}