<header>
  <nav>
    <mat-toolbar class="mat-toolbar-style gap-y-4">
      <div class="flex items-center gap-x-5">
        <mat-icon
          aria-hidden="false"
          aria-label="Receipt icon"
          fontIcon="receipt"
        ></mat-icon>
        <h1>Questionnaire App</h1>
      </div>
      <button
        type="button"
        class="bg-yellow-500 w-20 h-10 rounded-md hover:bg-yellow-400 active:bg-yellow-400"
      >
        Login
      </button>
    </mat-toolbar>
  </nav>
</header>
