<div
  [formGroup]="group"
  class="flex flex-col p-4 w-3/5 mx-auto mt-2 border-2 border-blue-700 rounded-md"
>
  <div class="flex gap-x-4">
    <mat-form-field>
      <input matInput formControlName="question" />
    </mat-form-field>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="flex gap-x-2 items-start"
    >
      @switch (selectedInputType()) { @case ('single_choice') {
      <mat-icon>radio_button_checked</mat-icon>
      Single choice } @case ('multiple_choice') {
      <mat-icon>check_box</mat-icon>
      Multiple choice } @case ('short_answer') {
      <mat-icon>short_text</mat-icon>
      Short answer } @case ('scale') {
      <mat-icon>linear_scale</mat-icon>
      Scale from 1 to 10 } }
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="selectInputType('single_choice')">
        <mat-icon>radio_button_checked</mat-icon>
        Single choice
      </button>
      <button mat-menu-item (click)="selectInputType('multiple_choice')">
        <mat-icon>check_box</mat-icon>
        Multiple choice
      </button>
      <button mat-menu-item (click)="selectInputType('short_answer')">
        <mat-icon>short_text</mat-icon>
        Short answer
      </button>
      <button mat-menu-item (click)="selectInputType('scale')">
        <mat-icon>linear_scale</mat-icon>
        Scale from 1 to 10
      </button>
    </mat-menu>
  </div>
  <div>
    @switch (selectedInputType()) { @case ('single_choice') {
    <ng-container formArrayName="options">
      @for (option of options.controls; track $index) {
      <app-option
        [options]="options"
        [index]="$index"
        [inputType]="'radio_button_unchecked'"
      ></app-option>
      }
    </ng-container>
    <div class="flex gap-x-4">
      <mat-icon color="accent" class="mat-icon-plus" (click)="addAnswer()"
        >add_circle</mat-icon
      >
      Add answer
    </div>
    } @case ('multiple_choice') {
    <ng-container formArrayName="options">
      @for (option of options.controls; track $index) {
      <app-option
        [options]="options"
        [index]="$index"
        [inputType]="'check_box_outline_blank'"
      ></app-option>
      }
    </ng-container>
    <div class="flex gap-x-4">
      <mat-icon color="accent" class="mat-icon-plus" (click)="addAnswer()"
        >add_circle</mat-icon
      >
      Add answer
    </div>
    } @case ('short_answer') {
    <mat-form-field class="short-answer">
      <input
        matInput
        formControlName="shortAnswer"
        placeholder="Text of short answer for user"
      />
    </mat-form-field>
    } @case ('scale') {
    <app-scale
      [selectedScaleFrom]="selectedScaleFrom"
      [selectedScaleTo]="selectedScaleTo"
      (toOnselectScaleFrom)="selectScaleFrom($event)"
      (toOnselectScaleTo)="selectScaleTo($event)"
    ></app-scale>
    } }
  </div>
</div>
